// ==== END == CONTENT CHUNK ====
.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
// END == Back to Top Link
#divider.hspace60
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of1
            h3.head28
                | Divider Columns <span class="head18 loose caps lite">(No Margins)</span>
            p.text14
                | Use these to subdivide columns into 10ths, 12ths, 20ths, and 24ths. They can be used together and within each other to create all kinds of divisions. These columns remain intact at all screen sizes.
// ==== END == CONTENT CHUNK ====
.hspace20
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of1
            .clearfix
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-2of5
            .clearfix
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
        .col-3of5.last
            .clearfix
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of1
            .clearfix
                .col-2of10
                    .hereisacolumn
                        | 2
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-5of10
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 5
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
                .col-1of10.last
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 10
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of1
            .clearfix
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-1of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of1
            .clearfix
                .col-4of20
                    .hereisacolumn
                        | 4
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-7of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 7
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-9of20
                    .hereisacolumn
                        | 9
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of1
            .clearfix
                .col-4of20
                    .hereisacolumn
                        | 4
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-4of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 4
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-4of20
                    .hereisacolumn
                        | 4
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-4of20
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 4
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-4of20
                    .hereisacolumn
                        | 4
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of1
            .clearfix
                .col-5of20
                    .hereisacolumn
                        | 5
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-5of20
                    .hereisacolumn(style='border-left:1px solid rgba(0, 0, 0, 0.2);')
                        | 5
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-5of20
                    .hereisacolumn(style='border-left:1px solid rgba(0, 0, 0, 0.1);')
                        | 5
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
                .col-5of20.last
                    .hereisacolumn(style='border-left:1px solid rgba(0, 0, 0, 0.1);')
                        | 5
                        br
                        span(style='border-top:1px solid #4C4C4C;') 20
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of2
            .clearfix
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24.last
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
        .col-1of2.last
            .clearfix
                .col-1of24
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-22of24
                    .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                        | 22
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
                .col-1of24.last
                    .hereisacolumn
                        | 1
                        br
                        span(style='border-top:1px solid #4C4C4C;') 24
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-4of12
            .hereisacolumn
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12
            .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12
            .hereisacolumn
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12
            .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12
            .hereisacolumn
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12
            .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12
            .hereisacolumn
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12
            .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12.last
            .hereisacolumn
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
// ==== END == CONTENT CHUNK ====
.hspace40
// ==== START == CONTENT CHUNK ====
.content
    .container.clearfix
        .col-1of24
            .hereisacolumn
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 24
        .col-5of12
            .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                | 5
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of12
            .hereisacolumn
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-5of12
            .hereisacolumn(style='background-color: rgba(0, 0, 0, 0.15);')
                | 5
                br
                span(style='border-top:1px solid #4C4C4C;') 12
        .col-1of24.last
            .hereisacolumn
                | 1
                br
                span(style='border-top:1px solid #4C4C4C;') 24
        .hspace20
        .col-1of1
            p.text14 Etc., etc., etc...You get the idea.
// ==== END == CONTENT CHUNK ====
.hspace100