// ==== END == CONTENT CHUNK ====
.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
// END == Back to Top Link
#packed.hspace60
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of1
          h3.head28
              | Packed Columns <span class="head18 loose caps lite">(1% Width Gutters)</span>
          p.text14
              | These are the same as the basic columns except they have a constant 1% gutter between them (useful when building structured content like pricing lists). Just add the class <span class="callout"><code>packed</code></span> to the column div.
      .hspace20
      .col-1of2.packed
          .hereisacolumn 1of2 packed
      .col-1of2.packed.last
          .hereisacolumn 1of2 packed last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of3.packed
          .hereisacolumn.green 1of3 packed
      .col-1of3.packed
          .hereisacolumn.green 1of3 packed
      .col-1of3.packed.last
          .hereisacolumn.green 1of3 packed last
      .hspace40
      .col-2of3.packed
          .hereisacolumn.green 2of3 packed
      .col-1of3.packed.last
          .hereisacolumn.green 1of3 packed last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of4.packed
          .hereisacolumn 1of4 packed
      .col-1of4.packed
          .hereisacolumn 1of4 packed
      .col-1of4.packed
          .hereisacolumn 1of4 packed
      .col-1of4.packed.last
          .hereisacolumn 1of4 packed last
      .hspace40
      .col-1of4.packed
          .hereisacolumn 1of4 packed
      .col-1of4.packed
          .hereisacolumn 1of4 packed
      .col-2of4.packed.last
          .hereisacolumn 2of4 packed
      .hspace40
      .col-1of4.packed
          .hereisacolumn 1of4 packed
      .col-3of4.packed.last
          .hereisacolumn 3of4 packed last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of5.packed
          .hereisacolumn.green 1of5 packed
      .col-1of5.packed
          .hereisacolumn.green 1of5 packed
      .col-1of5.packed
          .hereisacolumn.green 1of5 packed
      .col-1of5.packed
          .hereisacolumn.green 1of5 packed
      .col-1of5.packed.last
          .hereisacolumn.green 1of5 packed last
      .hspace40
      .col-2of5.packed
          .hereisacolumn.green 2of5 packed
      .col-1of5.packed
          .hereisacolumn.green 1of5 packed
      .col-1of5.packed
          .hereisacolumn.green 1of5 packed
      .col-1of5.packed.last
          .hereisacolumn.green 1of5 packed last
      .hspace40
      .col-1of5.packed
          .clearfix
              .hereisacolumn.green 1of5 packed
      .col-1of5.packed
          .hereisacolumn.green 1of5 packed
      .col-3of5.packed.last
          .hereisacolumn.green 3of5 packed last
      .hspace40
      .col-1of5.packed
          .hereisacolumn.green 1of5 packed
      .col-4of5.packed.last
          .hereisacolumn.green 4of5 packed last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of6.packed
          .hereisacolumn 1of6 packed
      .col-1of6.packed
          .hereisacolumn 1of6 packed
      .col-1of6.packed
          .hereisacolumn 1of6 packed
      .col-1of6.packed
          .hereisacolumn 1of6 packed
      .col-1of6.packed
          .hereisacolumn 1of6 packed
      .col-1of6.packed.last
          .hereisacolumn 1of6 packed last
      .hspace40
      .col-1of6.packed
          .hereisacolumn 1of6 packed
      .col-1of6.packed
          .hereisacolumn 1of6 packed
      .col-4of6.packed.last
          .hereisacolumn 4of6 packed
      .hspace40
      .col-1of6.packed
          .hereisacolumn 1of6 packed
      .col-5of6.packed.last
          .hereisacolumn 1of6 packed last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of7.packed
          .hereisacolumn.green 1of7 packed
      .col-1of7.packed
          .hereisacolumn.green 1of7 packed
      .col-1of7.packed
          .hereisacolumn.green 1of7 packed
      .col-1of7.packed
          .hereisacolumn.green 1of7 packed
      .col-1of7.packed
          .hereisacolumn.green 1of7 packed
      .col-1of7.packed
          .hereisacolumn.green 1of7 packed
      .col-1of7.packed.last
          .hereisacolumn.green 1of7 packed last
      .hspace40
      .col-5of7.packed
          .hereisacolumn.green 5of7 packed
      .col-1of7.packed
          .hereisacolumn.green 1of7 packed
      .col-1of7.packed.last
          .hereisacolumn.green 1of7 packed last
      .hspace40
      .col-6of7.packed
          .hereisacolumn.green 6of7 packed
      .col-1of7.packed.last
          .hereisacolumn.green 1of7 packed last
      .hspace20
      .col-1of1
          p.text14
            | <strong>Note:</strong> The basic 8 column layout already uses a 1% gutter and needs no additional classes to use like these.