#responsive.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of1
          h3.head28
              | Responsive Columns <span class="head18 loose caps lite">(Varying Margin Widths)</span>
          p.text14
              | This responsive grid varies the gutter widths depending on the number of columns in your layout to enhance readability&period; Wider (fewer) columns are given more whitespace while narrow (more) columns receive a less generous portion&period;
          p.text14
              | The structure is pretty straight forward. To add 3 columns, just give 3 divs <span class="callout"><code>class="col-1of3"</code></span>—adding <span class="callout"><code>class="col-1of3 last"</code></span> to the final div to remove the right margin. There aren't any pushes or pulls. Just blocks to place content or leave blank <span class="callout"><code>class="col-1of3 blank"</code></span>. Example below.
      .hspace40
      .col-1of3
          .hereisacolumn.green.round4
              p.text12.center
                  code
                      &lt;div class&equals;&quot;col-1of3&quot;&gt;
      .col-1of3
          .hereisacolumn(style='background-color:transparent;')
              p.text12.center
                  code
                      &lt;div class&equals;&quot;col-1of3 blank&quot;&gt;
      .col-1of3.last
          .hereisacolumn.green.round4
              p.text12.center
                  code &lt;div class&equals;&quot;col-1of3 last&quot;&gt;
// ==== END == CONTENT CHUNK ====
.hspace80
hr
.hspace80
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of1
          .hereisacolumn col-1of1
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of2
          .hereisacolumn.green col-1of2
      .col-1of2.last
          .hereisacolumn.green col-1of2
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of3
          .hereisacolumn col-1of3
      .col-1of3
          .hereisacolumn col-1of3
      .col-1of3.last
          .hereisacolumn col-1of3 last
      .hspace40
      .col-1of3
          .hereisacolumn col-1of3
      .col-2of3.last
          .hereisacolumn col-2of3 last
      .hspace40
      .col-2of3
          .hereisacolumn col-2of3
      .col-1of3.last
          .hereisacolumn col-1of3 last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of4
          .hereisacolumn.green col-1of4
      .col-1of4
          .hereisacolumn.green col-1of4
      .col-1of4
          .hereisacolumn.green col-1of4
      .col-1of4.last
          .hereisacolumn.green col-1of4 last
      .hspace40
      .col-1of4
          .hereisacolumn.green col-1of4
      .col-1of4
          .hereisacolumn.green col-1of4
      .col-2of4.last
          .hereisacolumn.green col-2of4 last
      .hspace40
      .col-1of4
          .hereisacolumn.green col-1of4
      .col-3of4.last
          .hereisacolumn.green col-3of4 last
      .hspace40
      .col-3of4
          .hereisacolumn.green col-1of4
      .col-1of4.last
          .hereisacolumn.green col-1of4 last
      .hspace40
      .col-1of4
          .hereisacolumn.green col-1of4
      .col-2of4
          .hereisacolumn.green col-2of4
      .col-1of4.last
          .hereisacolumn.green col-1of4 last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of5
          .hereisacolumn col-1of5
      .col-1of5
          .hereisacolumn col-1of5
      .col-1of5
          .hereisacolumn col-1of5
      .col-1of5
          .hereisacolumn col-1of5
      .col-1of5.last
          .hereisacolumn col-1of5 last
      .hspace40
      .col-1of5
          .hereisacolumn col-1of5
      .col-4of5.last
          .hereisacolumn col-4of5 last
      .hspace40
      .col-1of5
          .hereisacolumn col-1of5
      .col-1of5
          .hereisacolumn col-1of5
      .col-3of5.last
          .hereisacolumn col-3of5 last
      .hspace40
      .col-1of5
          .hereisacolumn col-1of5
      .col-1of5
          .hereisacolumn col-1of5
      .col-1of5
          .hereisacolumn col-1of5
      .col-2of5.last
          .hereisacolumn col-2of5
      .hspace40
      .col-4of5
          .hereisacolumn col-4of5
      .col-1of5.last
          .hereisacolumn col-1of5
      .hspace40
      .col-2of5
          .hereisacolumn col-2of5
      .col-3of5.last
          .hereisacolumn col-3of5 last
      .hspace40
      .col-3of5
          .hereisacolumn col-3of5
      .col-2of5.last
          .hereisacolumn col-2of5 last
      .hspace40
      .col-1of5
          .hereisacolumn col-1of5
      .col-3of5
          .hereisacolumn col-3of5
      .col-1of5.last
          .hereisacolumn col-1of5 last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of6
          .hereisacolumn.green col-1of6
      .col-1of6
          .hereisacolumn.green col-1of6
      .col-1of6
          .hereisacolumn.green col-1of6
      .col-1of6
          .hereisacolumn.green col-1of6
      .col-1of6
          .hereisacolumn.green col-1of6
      .col-1of6.last
          .hereisacolumn.green col-1of6 last
      .hspace40
      .col-1of6
          .hereisacolumn.green col-1of6
      .col-5of6.last
          .hereisacolumn.green col-5of6 last
      .hspace40
      .col-5of6
          .hereisacolumn.green col-5of6
      .col-1of6.last
          .hereisacolumn.green col-1of6 last
      .hspace40
      .col-1of6
          .hereisacolumn.green col-1of6
      .col-4of6
          .hereisacolumn.green col-4of6
      .col-1of6.last
          .hereisacolumn.green col-1of6 last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of7
          .hereisacolumn col-1of7
      .col-1of7
          .hereisacolumn col-1of7
      .col-1of7
          .hereisacolumn col-1of7
      .col-1of7
          .hereisacolumn col-1of7
      .col-1of7
          .hereisacolumn col-1of7
      .col-1of7
          .hereisacolumn col-1of7
      .col-1of7.last
          .hereisacolumn col-1of7 last
      .hspace40
      .col-1of7
          .hereisacolumn col-1of7
      .col-6of7.last
          .hereisacolumn col-6of7 last
      .hspace40
      .col-6of7
          .hereisacolumn col-6of7
      .col-1of7.last
          .hereisacolumn col-1of7 last
      .hspace40
      .col-1of7
          .hereisacolumn col-1of7
      .col-5of7
          .hereisacolumn col-5of7
      .col-1of7.last
          .hereisacolumn col-1of7 last
// ==== END == CONTENT CHUNK ====
.hspace100
// ==== START == CONTENT CHUNK ====
.content
  .container.clearfix
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-1of8.last
          .hereisacolumn.green col-1of8 last
      .hspace40
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-7of8.last
          .hereisacolumn.green col-7of8 last
      .hspace40
      .col-7of8
          .hereisacolumn.green col-7of8
      .col-1of8.last
          .hereisacolumn.green col-1of8 last
      .hspace40
      .col-1of8
          .hereisacolumn.green col-1of8
      .col-6of8
          .hereisacolumn.green col-6of8
      .col-1of8.last
          .hereisacolumn.green col-1of8 last