#pairings.tabcontentcontainer
    .hspace20
    .col-1of1
        p.text16 Below are a few typical headline and body copy size pairings that work well together.
    .hspace40
    .col-1of2
        h3.head32 Heading
            span.lite  (32px)
        p.text18
            | There once was a <strong>18px font</strong> that was hard working and honest. Each morning it awoke before the rooster to get to work making words and sentences for websites. It did a great job and was adored by everyone.
    .col-1of2.last
        h3.head28 Heading
            span.lite  (28px)
        p.text16
            | There once was a <strong>16px font</strong> that was hard working and honest. Each morning it awoke before the rooster to get to work making words and sentences for websites. It did a great job and was adored by everyone.
    .hspace40
    .col-1of2
        h3.head24 Heading
            span.lite  (24px)
        p.text14
            | There once was a <strong>14px font</strong> that was hard working and honest. Each morning it awoke before the rooster to get to work making words and sentences for websites. It did a great job and was adored by everyone.
    .col-1of2.last
        h3.head20 Heading
            span.lite  (20px)
        p.text13
            | There once was a <strong>13px font</strong> that was hard working and honest. Each morning it awoke before the rooster to get to work making words and sentences for websites. It did a great job and was adored by everyone.
    .hspace40
    .col-1of2
        h3.head18 Heading
            span.lite  (18px)
        p.text12
            | There once was a <strong>12px font</strong> that was hard working and honest. Each morning it awoke before the rooster to get to work making words and sentences for websites. It did a great job and was adored by everyone.
    .col-1of2.last
        h3.head16 Heading
            span.lite  (16px)
        p.text11
            | There once was a <strong>11px font</strong> that was hard working and honest. Each morning it awoke before the rooster to get to work making words and sentences for websites. It did a great job and was adored by everyone.
    .hspace40
    .col-1of2
        h3.head14 Heading
            span.lite  (14px)
        p.text10
            | There once was a <strong>10px font</strong> that was hard working and honest. Each morning it awoke before the rooster to get to work making words and sentences for websites. It did a great job and was adored by everyone.
    .col-1of2.last
        h3.head12 Heading
            span.lite  (12px)
        p.text9
            | There once was a <strong>9px font</strong> that was hard working and honest. Each morning it awoke before the rooster to get to work making words and sentences for websites. It did a great job and was adored by everyone.