#headlines.tabcontentcontainer
    .hspace20
    .col-1of1
        h3.head18 About Headlines:
        ul.text12
            li
                | &#60;h1&#62; to &#60;h6&#62; tags are not given any default sizes in the CSS. Sizing is assigned using <span class="callout"><code>&#8220;headXX&#8221;</code></span> classes where the &#8220;XX&#8221; is the desired pixel height.
            li
                | Default font weight is <b>Source Sans Pro Regular</b>. Weights can be overridden by adding <span class="callout"><code>&#8220;ultra&#8221;</code></span>&#8195;<span class="callout"><code>&#8220;heavy&#8221;</code></span>&#8195;<span class="callout"><code>&#8220;semibold&#8221;</code></span>&#8195;<span class="callout"><code>&#8220;regular&#8221;</code></span>&#8195;<span class="callout"><code>&#8220;lite&#8221;</code></span>&#8195;<span class="callout"><code>&#8220;extralite&#8221;</code></span> classes.
            li
                | Size classes range from 12px to 100px. View full list in <b>“Size Chart”</b> tab.
    .hspace60
    .col-1of1
        .clearfix
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head55
                    span.highlight.green ultra
                h3.head55.ultra Typography
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head50
                    span.highlight.green heavy
                h3.head50.heavy Typography
            .col-1of3.packed.nomargin-bottom.last
                h6.label.nomargin
                    span.highlight.ltgray head45
                    span.highlight.green semibold
                h3.head45.semibold Typography
    .col-1of1
        .clearfix
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head40
                    span.highlight.green regular
                    span.highlight.gray default
                h3.head40 Typography
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head38
                    span.highlight.green lite
                h3.head38.lite Typography
            .col-1of3.packed.nomargin-bottom.last
                h6.label.nomargin
                    span.highlight.ltgray head36
                    span.highlight.green extralite
                h3.head36.extralite Typography
    .col-1of1
        .clearfix
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head34
                h3.head34 Typography
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head32
                h3.head32 Typography
            .col-1of3.packed.nomargin-bottom.last
                h6.label.nomargin
                    span.highlight.ltgray head30
                h3.head30 Typography
    .col-1of1
        .clearfix
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head28
                h3.head28 Typography
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head26
                h3.head26 Typography
            .col-1of3.packed.nomargin-bottom.last
                h6.label.nomargin
                    span.highlight.ltgray head24
                h3.head24 Typography
    .col-1of1
        .clearfix
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head22
                h3.head22 Typography
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head20
                h3.head20 Typography
            .col-1of3.packed.nomargin-bottom.last
                h6.label.nomargin
                    span.highlight.ltgray head18
                h3.head18 Typography
    .col-1of1
        .clearfix
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head16
                h3.head16 Typography
            .col-1of3.packed.nomargin-bottom
                h6.label.nomargin
                    span.highlight.ltgray head14
                h3.head14 Typography
            .col-1of3.packed.nomargin-bottom.last
                h6.label.nomargin
                    span.highlight.ltgray head12
                h3.head12 Typography