@import "variables.less";
@import "mixins.less";
@import "normalize.less";

@import "common.less";
@import "typography.less";
@import "grid.less";

@import "bem/navigation.less";

body {
  font-family: @font-family-base;
  background: @body-background;
  color: #4C4C4C;
  font-size: 100%;
  line-height: 140%;
  font-weight: normal;
}