@import "_variables.less";
@import "_mixins.less";
@import "_normalize.less";

@import "_common.less";
@import "_typography.less";
@import "_grid.less";

@import "bem/_nav.less";
@import "bem/_hero.less";

body {
  font-family: @font-family-base;
  background: @body-background;
  color: #4C4C4C;
  font-size: 100%;
  line-height: 140%;
  font-weight: normal;
}

.grid-presentation {
  text-align: center;
  font-family: @font-family-monospace;
  font-size: 90%;

  .grid-1, .grid-2, .grid-4, .grid-6, .grid-12 {
    background-color: #D8ECFD;
    border: 1px solid #ffffff;
    padding: 15px;
  }
}