#top.eyebrow.drop-shadow
    .container.clearfix
        .eyebrow-nav
            .logo
                .cornerstone-icon.inline-block
                | <h3 class="inline-block head30 heavy white nomargin" style="position: relative; padding-left: 6px; top: -4px;">C<span style="margin-left:-0.035em;">o</span><span style="margin-left:-0.025em;">r</span><span style="margin-left:-0.018em;">n</span><span style="margin-left:-0.02em;">e</span><span style="margin-left:-0.025em;">r</span><span style="margin-left:-0.02em;">s</span><span style="margin-left:-0.01em;">t</span><span style="margin-left:-0.01em;">o</span><span style="margin-left:-0.02em;">n</span><span style="margin-left:-0.022em;">e</span> <span class="head12 lite white loose">LITE!</span></h3>
            ul
                li.current
                    a(href="./typography.html") Type
                li
                    a(href="./grid.html") Grid
                li
                    a(href="./colors.html") Colors
                li
                    a(href="./components.html") Components