!!!
html
    head
        link(rel="stylesheet", href="/css/main.css")
    body.cornerstone
        div#wrapper.clearfix
            != yield
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="/js/waypoints.js")
        script(src="/js/waypoints-sticky.js")