!!!
html.csstransforms.no-csstransforms3d.csstransitions(dir="ltr", lang="en-US")
head
        title= title
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        link(rel="stylesheet", href="/css/legacy/main.css", type="text/css")
        link(rel="stylesheet", href="/css/legacy/fonts.css", type="text/css")
        link(rel="stylesheet", href="/css/legacy/site-specific.css", type="text/css")
        link(rel="stylesheet", href="/css/legacy/tooltips.css", type="text/css")
        link(rel="stylesheet", href="/css/legacy/responsive.css", type="text/css")
        //if lt IE 9
            script(src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body.cornerstone
        div#wrapper.clearfix
            != yield
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="/js/waypoints/waypoints.js")
        script(src="/js/waypoints/waypoints-sticky.js")