!= partial("_shared/legacy/nav")
!= partial("_shared/legacy/hero", { title: "Typography" })
!= partial("_shared/legacy/sub-nav", {subnav: { "#font":"The Font", "#tech":"Tech Details", "#type":"How It Looks", "#lists":"Lists" }})
!= partial("_typography/adobe")
!= partial("_typography/tech-details")
!= partial("_typography/how-it-looks")
!= partial("_typography/lists")