.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
#buttons.hspace80
.content
  .container.clearfix
      .col-1of1
          h2.head28 Call to Action Buttons
          p.text14
              | Primary and secondary buttons in three sizes, three color choices, and two styles (gradient and flat). The buttons are built using additive classes for size, color, border radius, and style. <strong>Example:</strong> <span class="callout"><code>&lt;a class="btn large green round4 caret-icon"&gt;Sign Up Now&lt;/a&gt;</code></span>.
      .hspace60
      .col-1of3
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green large
              span.highlight green
              span.highlight.yellow round4
              span.highlight.pink caret-icon
          .hspace5
          p
              a.btn.large.green.round4.caret-icon(href='', title='') Sign Up Now
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green medium
              span.highlight green
              span.highlight.yellow round4
          .hspace5
          p
              a.btn.medium.green.round4(href='', title='') Sign Up
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green small
              span.highlight green
              span.highlight.yellow round3
          .hspace5
          p
              a.btn.small.green.round3(href='', title='') Sign Up
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green large
              span.highlight green
              span.highlight.yellow round4
              span.highlight.pink flat
          .hspace5
          p
              a.btn.large.green.flat.round4(href='', title='') Sign Up Now
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green medium
              span.highlight green
              span.highlight.yellow round4
              span.highlight.pink flat
          .hspace5
          p
              a.btn.medium.green.flat.round4(href='', title='') Sign Up
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green small
              span.highlight green
              span.highlight.yellow round3
              span.highlight.pink flat
          .hspace5
          p
              a.btn.small.green.flat.round3(href='', title='') Sign Up
      .col-1of3
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green large
              span.highlight ltgray
              span.highlight.yellow round4
              span.highlight.pink caret-icon
          .hspace5
          p
              a.btn.large.ltgray.round4.caret-icon.dark(href='', title='') Learn More
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green medium
              span.highlight ltgray
              span.highlight.yellow round4
          .hspace5
          p
              a.btn.medium.ltgray.round4(href='', title='') Learn More
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green small
              span.highlight ltgray
              span.highlight.yellow round3
          .hspace5
          p
              a.btn.small.ltgray.round3(href='', title='') More
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green large
              span.highlight ltgray
              span.highlight.yellow round4
              span.highlight.pink flat
          .hspace5
          p
              a.btn.large.ltgray.flat.round4(href='', title='') Sign Up Now
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green medium
              span.highlight ltgray
              span.highlight.yellow round4
              span.highlight.pink flat
          .hspace5
          p
              a.btn.medium.ltgray.flat.round4(href='', title='') Sign Up
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green small
              span.highlight ltgray
              span.highlight.yellow round3
              span.highlight.pink flat
          .hspace5
          p
              a.btn.small.ltgray.flat.round3(href='', title='') Sign Up
      .col-1of3.last
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green large
              span.highlight gray
              span.highlight.yellow round4
              span.highlight.pink caret-icon
          .hspace5
          p
              a.btn.large.gray.round4.caret-icon(href='', title='') Contact Us
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green medium
              span.highlight gray
              span.highlight.yellow round4
          .hspace5
          p
              a.btn.medium.gray.round4(href='', title='') Contact Us
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green small
              span.highlight gray
              span.highlight.yellow round3
          .hspace5
          p
              a.btn.small.gray.round3(href='', title='') Contact Us
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green large
              span.highlight gray
              span.highlight.yellow round4
              span.highlight.pink flat
          .hspace5
          p
              a.btn.large.gray.flat.round4(href='', title='') Sign Up Now
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green medium
              span.highlight gray
              span.highlight.yellow round4
              span.highlight.pink flat
          .hspace5
          p
              a.btn.medium.gray.flat.round4(href='', title='') Sign Up
          h6.label.nomargin
              span.highlight.ltgray btn
              span.highlight.green small
              span.highlight gray
              span.highlight.yellow round3
              span.highlight.pink flat
          .hspace5
          p
              a.btn.small.gray.flat.round3(href='', title='') Sign Up
      .hspace80
      .col-1of1
          h2.head28 Dropdown Buttons
          .hspace20
          .dropdown-menu.inline-block.margin-right30
              ul
                  li
                      span.btn.medium.gray.flat.dropdown &apos;btn&apos; Dropdown Left
                      ul
                          li
                              a(href='') MyRackspace Portal
                          li
                              a(href='') Cloud Control Panel
                          li
                              a(href='') The Rackspace Open Cloud
                          li
                              a(href='') Rackspace Webmail Login
          .dropdown-menu.bottomhalfmargin.inline-block
              ul
                  li
                      span.btn.medium.ltgray.dropdown &apos;btn&apos; Dropdown Right
                      ul.right
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -20px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | United Kingdom
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -40px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | Australia
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -60px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | Belgium
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -80px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | Denmark
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -100px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | Germany
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -120px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | Hong Kong
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -140px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | Netherlands
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -160px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | New Zealand
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -180px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | South Africa
                          li
                              a(href='')
                                  span.global-flags(style='background-position: left -200px;width:20px;height:13px;display:inline-block;margin-right:7px;vertical-align:baseline;')
                                  | United Arab Emirates