.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
#icons.hspace80
.content
  .container.clearfix
      .col-1of1
          h2.head28 Special Link Icons
          p.text14
              | Below are a few examples of icons that can be placed before or after text in a list (or even outside one) to signify a special action. To use them, insert a <span class="callout"><code>&lt;span class="XX-icon"&gt;&lt;/span&gt;</code></span> where “XX” is the icon name.
      .hspace40
      .col-1of4
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green chat-icon
          .hspace5
          p.text14
              a(href='')
                  span.chat-icon.left
                  | Start a Chat
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green close-icon
          .hspace5
          p.text14
              a(href='')
                  span.close-icon.left
                  | Close
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green magnify-icon
          .hspace5
          p.text14
              a(href='')
                  span.magnify-icon.left
                  | View larger version
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green download-icon
          .hspace5
          p.text14
              a(href='')
                  span.download-icon.left
                      i
                  | Download now
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green follow-link-out
          .hspace5
          p.text14
              a.follow-link-out(href='') Visit another site
      .col-1of4
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green play-icon
          .hspace5
          p.text14
              a(href='')
                  span.play-icon.left
                  | Play this thing
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green check-icon
          .hspace5
          p.text14
              a(href='')
                  span.check-icon.left
                  | It&rsquor;s cool by me
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green x-icon
          .hspace5
          p.text14
              a(href='')
                  span.x-icon.left
                  | No way&comma; Jos&eacute;
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green image-icon
          .hspace5
          p.text14
              a(href='')
                  span.image-icon.left
                      i
                  | View this photo
          h6.label.nomargin
              span.highlight.ltgray text12
              span.highlight.green up-icon
          .hspace5
          p.text12
              a(href='#top')
                  | Back to top
                  span.up-icon
      .col-1of4
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green pinpoint-icon
          .hspace5
          p.text14
              a(href='')
                  span.pinpoint-icon.left
                  | Choose this location
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green user-icon
          .hspace5
          p.text14
              a(href='')
                  span.user-icon.left
                  | Edit user
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green none-icon
          .hspace5
          p.text14
              a(href='')
                  span.none-icon.left
                  | Don&rsquor;t allow this&excl;
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green search-icon
          .hspace5
          p.text14
              a(href='')
                  span.search-icon.left
                  | Search now
          h6.label.nomargin
              span.highlight.ltgray text12
              span.highlight.green down-icon
          .hspace5
          p.text12
              a(href='#top')
                  | Jump down
                  span.down-icon
      .col-1of4.last
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green video-icon
          .hspace5
          p.text14
              a(href='')
                  span.video-icon.left
                  | Watch video
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green user-icon
          .hspace5
          p.text14
              a(href='')
                  span.code-icon.left
                  | See code snippet
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green pdf-icon
          .hspace5
          p.text14
              a(href='')
                  span.pdf-icon.left
                  | Download collateral
          h6.label.nomargin
              span.highlight.ltgray text14
              span.highlight.green pdf-icon
          .hspace5
          p.text14
              a(href='')
                  span.form-icon.left
                  | Contact us now
      .hspace40
      .col-1of1
          h2.head28 Special Link Icons
          .col-1of2
              .clearfix
                  .code-box
                      ol
                          li
                              span.green
                                  | &lt;div
                                  span.blue  class&equals;
                                  span.red &quot;col-1of2&quot;
                                  | &gt;
                          li
                              span.indent1.green
                                  | &lt;div
                                  span.blue  class&equals;
                                  span.red &quot;clear-fix&quot;
                                  | &gt;
                          li
                              span.indent2.green
                                  | &lt;div
                                  span.blue  class&equals;
                                  span.red &quot;code-box&quot;
                                  | &gt;
                          li
                              span.indent3.green &lt;ol&gt;
                          li
                              span.indent4.green &lt;li&gt;
                          li
                              span.indent5.green
                                  | &lt;span
                                  span.blue  class&equals;
                                  span.red &quot;indent5 green&quot;
                                  | &gt;
                              | this is a list item
                              span.green &lt;&sol;span&gt;
                          li
                              span.indent4.green &lt;&sol;li&gt;
                          li
                              span.indent3.green &lt;&sol;ol&gt;
                          li
                              span.indent2.green &lt;&sol;div&gt;
                          li
                              span.indent1.green &lt;&sol;div&gt;
                          li
                              span.green &lt;&sol;div&gt;
      .hspace40
.hspace100
