#links.hspace100
.content
    .container.clearfix
        .col-1of1
            h2.head28 Links In and After Text
            p.text16
                | Creating content isn't all that <a href="">difficult</a> <span class="highlight"><em>(basic link)</em></span>. You can simply close your eyes and jab your fingers at your keyboard for a few moments. Crafting good content, however, is actually quite hard. It can't be <a href="" class="strong">conjured</a> <span class="highlight"><em>(strong link)</em></span> through magic or voodoo or witch's spell. Hard news to hear, I know.
            p.text16
                | While a confident, rational person would admit it when they don't understand <a href="">something</a> <span class="highlight"><em>(basic link)</em></span> during a conversation, apparently it is much more <a href="" class="strong">satisfying</a> <span class="highlight"><em>(strong link)</em></span> to be a douchebag and add your misguided two cents instead.
        .hspace40
        .col-1of3
            h6
                span.callout
                    code &lt;a class&equals;&quot;follow-link text16&quot;&gt;
            .hspace10
            p
                a.follow-link.text16(href='', title='') Here is a link after text
        .col-1of3
            h6
                span.callout
                    code &lt;ul class&equals;&quot;follow-link text14&quot;&gt;
            .hspace10
            p
                a.follow-link.text14(href='', title='') Here is a link after text
        .col-1of3.last
            h6
                span.callout
                    code &lt;a class&equals;&quot;follow-link text12&quot;&gt;
            .hspace10
            p
                a.follow-link.text12(href='', title='') Here is a link after text
        #lists.hspace80
        .col-1of1
            h2.head28.double List of Links
        .col-1of3
            h6
                span.callout
                    code &lt;ul class&equals;&quot;arrow-list text16&quot;&gt;
            .hspace10
            ul.arrow-list.text16
                li
                    a(href='') Here is a place to go
                li
                    a(href='') Or you can even go here to learn more
                li
                    a(href='') If you have time&comma; go here
                li
                    a(href='') Tell your buddies to visit here
        .col-1of3
            h6
                span.callout
                    code &lt;ul class&equals;&quot;arrow-list text14&quot;&gt;
            .hspace10
            ul.arrow-list.text14
                li
                    a(href='') Here is a place to go
                li
                    a(href='') Or you can even go here to learn more
                li
                    a(href='') If you have time&comma; go here
                li
                    a(href='') Tell your buddies to visit here
        .col-1of3.last
            h6
                span.callout
                    code &lt;ul class&equals;&quot;arrow-list text12&quot;&gt;
            .hspace10
            ul.arrow-list.text12
                li
                    a(href='') Here is a place to go
                li
                    a(href='') Or you can even go here to learn more
                li
                    a(href='') If you have time&comma; go here
                li
                    a(href='') Tell your buddies to visit here