.hspace100
.content
    .container.clearfix
        .col-1of1
            h3.head28
                | Adobe<sup>&reg;</sup> Source Sans Pro
        .col-3of4
            p.text16
                | <b>Source Sans Pro</b> is a well thought out open source typeface developed with user interfaces in mind. We like it for its clean, modern letterforms, and the wide range of weights it offers. It also has a smidgen of character—adding some friendliness without venturing too far from neutral.
            .hspace20
            h3.head28 The Weights
            p.text16
                span.extralite Source Sans Pro Extralight,
                span.lite  Source Sans Pro Light,
                span.regular  Source Sans Pro Regular,
                span.semibold  Source Sans Pro Semibold,
                span.heavy  Source Sans Pro Bold,
                span.ultra  Source Sans Pro Black
                | ...Pretty sweet, huh?
        .col-1of4.last
            p.center
                a(href="downloads/SourceSansPro-Font-Files.zip").btn.medium.round4 Download Font Files
            p.text12.center ZIP file includes all 6 font weights in WOFF, EOT, TTF, and SVG formats. A CSS file is also included for convenience.