.grid-container.clearfix
    != partial("../_shared/back-to-top")
div#type.hspace80
.content
    .grid-container.clearfix
        .col-1of1
            .head28 How It Looks
            p.text16 On websites, content is king and should be treated as such. Without good typographic practices, readability and comprehension could suffer—deposing the once kingly content to the level of visual noise. So, we have carefully crafted type sizing, weights, and spacing to help keep content on the throne. Long live content!
.hspace30
.content
    .grid-container.clearfix
        .tabwrap
            ul.tabs
                li
                    a(href="#pairings") Headline &amp; Text Pairings
                li
                    a(href="#headlines") Headline Details
                li
                    a(href="#text") Text Details
                li
                    a(href="#modifiers") Modifier Classes
                li
                    a(href="#size-chart") Size Chart
    .tab-hr
    .grid-container.clearfix
        != partial("how-it-looks/headline-and-text-pairings")