/* ================================================================
    WRAPPERS
================================================================ */

.cornerstone #wrapper {margin: 0 auto;width: 100%;}
#wrapper {width: 1020px; margin: 50px auto;position: relative;background-color: #FFFFFF;}
.content {position: relative;}
.content.river {background-color:rgba(0, 0, 0, 0.1);padding:0;border-top:1px solid rgba(0, 0, 0, 0.1);border-bottom:1px solid rgba(0, 0, 0, 0.1);}
.content-wrap {position: relative;padding: 40px 0;}
.container {width: 960px; margin: 0 auto; position: relative;}
.well {padding: 25px !important;background-color: #E4E4E4;text-align: left !important;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;}
.well-background {padding: 0;background-color: #E4E4E4;text-align: left !important;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;}
