.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
#banners.hspace60
.content
    .container.clearfix
        .col-1of1
            h3.head28 Banner Background Colors
            p.text16 Colors used to flavor parts of the site&period;
        .hspace50
        .col-1of1
            h4.lite.caps
                span.head20 Gray
                span.head14 &lpar;Default&rpar;
            .hspace5
            .col-1of1
                .color-swatch.white.banner.gray
                    | &num;35393C
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Gray
                span.head14 &lpar;With Texture&rpar;
            .hspace5
            .col-1of1
                .color-swatch.white.banner.gray.texture
                    | &num;35393C
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Blue
                span.head14 &lpar;Cloud&rpar;
            .hspace5
            .col-1of1
                .color-swatch.white.banner.blue
                    | &num;0064B9
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Blue
                span.head14 &lpar;With Texture&rpar;
            .hspace5
            .col-1of1
                .color-swatch.white.banner.blue.texture
                    | &num;0064B9
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Red
                span.head14 &lpar;Managed&rpar;
            .hspace5
            .col-1of1
                .color-swatch.white.banner.red
                    | &num;C40022
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Red
                span.head14 &lpar;With Texture&rpar;
            .hspace5
            .col-1of1
                .color-swatch.white.banner.red.texture
                    | &num;C40022