#brand.hspace100
.content
    .container.clearfix
        .col-1of1
            h3.head28 Basic Brand
        .col-2of3
            p.text18 From the beginning, red <em>(#C40022)</em> and black <em>(#000000)</em> have been part of our identity and we’ll continue to build on it. We want people to instinctively associate these colors with Rackspace.
        .col-1of3.last
            .col-5of10
                .color-swatch.white.bg-brand-red #C40022
            .col-5of10
                .color-swatch.white.bg-brand-black #000000