.hspace80
hr
#expanded.hspace80
.content
    .container.clearfix
        .col-1of1
            h3.head28 Expanding the Palette
            p.text16 We use black and the entire gamut of grays to compliment red where it's needed. You can feel free to alter red by tinting it with black for richer colors and more dynamic layouts.
        .hspace50
        .col-1of1
            h4.lite.caps
                span.head20 Red
                span.head14  &lpar;Getting Darker&rpar;
            .hspace5
            .col-1of10
                .color-swatch.white(style='background-color: #C40022;') &num;C40022
            .col-1of10
                .color-swatch.white(style='background-color: #B0000E;') &num;B0000E
            .col-1of10
                .color-swatch.white(style='background-color: #9C0000;') &num;9C0000
            .col-1of10
                .color-swatch.white(style='background-color: #880000;') &num;880000
            .col-1of10
                .color-swatch.white(style='background-color: #740000;') &num;740000
            .col-1of10
                .color-swatch.white(style='background-color: #600000;') &num;600000
            .col-1of10
                .color-swatch.white(style='background-color: #4C0000;') &num;4C0000
            .col-1of10
                .color-swatch.white(style='background-color: #380000;') &num;380000
            .col-1of10
                .color-swatch.white(style='background-color: #240000;') &num;240000
            .col-1of10
                .color-swatch.white(style='background-color: #100000;') &num;100000
        .hspace40
        .col-1of1
            h4.lite.caps
                span.head20 Black
                span.head14  &lpar;Getting Lighter&rpar;
            .hspace5
            .col-1of10
                .color-swatch.white(style='background-color: #000000;') &num;000000
            .col-1of10
                .color-swatch.white(style='background-color: #111111;') &num;111111
            .col-1of10
                .color-swatch.white(style='background-color: #222222;') &num;222222
            .col-1of10
                .color-swatch.white(style='background-color: #333333;') &num;333333
            .col-1of10
                .color-swatch.white(style='background-color: #444444;') &num;444444
            .col-1of10
                .color-swatch.white(style='background-color: #555555;') &num;555555
            .col-1of10
                .color-swatch.white(style='background-color: #666666;') &num;666666
            .col-1of10
                .color-swatch.white(style='background-color: #777777;') &num;777777
            .col-1of10
                .color-swatch.white(style='background-color: #888888;') &num;888888
            .col-1of10.last
                .color-swatch.white(style='background-color: #999999;') &num;999999
            .col-1of10
                .color-swatch(style='background-color: #E4E4E4;') &num;E4E4E4
            .col-1of10
                .color-swatch(style='background-color: #DEDEDE;') &num;DEDEDE
            .col-1of10
                .color-swatch(style='background-color: #D7D7D7;') &num;D7D7D7
            .col-1of10
                .color-swatch(style='background-color: #D1D1D1;') &num;D1D1D1
            .col-1of10
                .color-swatch(style='background-color: #CACACA;') &num;CACACA
            .col-1of10
                .color-swatch(style='background-color: #C4C4C4;') &num;C4C4C4
            .col-1of10
                .color-swatch(style='background-color: #BDBDBD;') &num;BDBDBD
            .col-1of10
                .color-swatch(style='background-color: #B7B7B7;') &num;B7B7B7
            .col-1of10
                .color-swatch(style='background-color: #B0B0B0;') &num;B0B0B0
            .col-1of10
                .color-swatch(style='background-color: #AAAAAA;') &num;AAAAAA