.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
#more.hspace60
.content
    .container.clearfix
        .col-1of1
            h3.head28 More Colors
            p.text16 A website cannot live on black and red alone. So, let's feed it a few side dishes of sweet, sweet colors.
        .hspace50
        .col-1of1
            h4.head20.lite.caps Text
            .hspace5
            .col-2of10
                .color-swatch.white(style='background-color: #333333;')
                    | &num;333333
                    br
                    span.center.head10 Headlines
            .col-2of10
                .color-swatch.white(style='background-color: #4C4C4C;')
                    | &num;4C4C4C
                    br
                    span.center.head10 Default
            .col-2of10
                .color-swatch.white(style='background-color: #2C2C2C;')
                    | &num;2C2C2C
                    br
                    span.center.head10 Strong
            .col-2of10
                .color-swatch.white(style='background-color: #4C4C4C;')
                    | &num;4C4C4C
                    br
                    span.center.head10 Link
            .col-2of10
                .color-swatch.white(style='background-color: #1E82D7;')
                    | &num;1E82D7
                    br
                    span.center.head10 Hover
        .hspace40
        .col-1of1
            h4.head20.lite.caps Status
            .hspace5
            .col-2of10
                .color-swatch.white(style='background-color: #00AA08;')
                    | &num;00AA08
                    br
                    span.center.head10 Sweet&excl;
            .col-2of10
                .color-swatch(style='background-color: #FFC801;')
                    | &num;FFC801
                    br
                    span.center.head10 Uh-Oh
            .col-2of10
                .color-swatch.white(style='background-color: #EE0022;')
                    | &num;EE0022
                    br
                    span.center.head10 Fail
            .col-2of10
                .color-swatch.white(style='background-color: #0064B9;')
                    | &num;0064B9
                    br
                    span.center.head10 Look&excl;
            .col-2of10
                .color-swatch(style='background-color: #E1E1E1;')
                    | &num;E1E1E1
                    br
                    span.center.head10 Meh
        .hspace40
        .col-1of1
            h4.head20.lite.caps Highlights
            .hspace5
            .col-2of12
                .color-swatch(style='background-color: #8EE8FD;')
                    | &num;8EE8FD
                    br
                    span.center.head10 Default
            .col-2of12
                .color-swatch(style='background-color: #FFC900;')
                    | &num;FFC900
                    br
                    span.center.head10 Orange
            .col-2of12
                .color-swatch(style='background-color: #ACFC41;')
                    | &num;ACFC41
                    br
                    span.center.head10 Green
            .col-2of12
                .color-swatch(style='background-color: #FFC8F6;')
                    | &num;FFC8F6
                    br
                    span.center.head10 Pink
            .col-2of12
                .color-swatch(style='background-color: #FFFF3C;')
                    | &num;FFFF3C
                    br
                    span.center.head10 yellow
            .col-2of12
                .color-swatch(style='background-color: #C6C6C6;')
                    | &num;C6C6C6
                    br
                    span.center.head10 Gray
        .hspace40
        .col-1of1
            h4.head20.lite.caps River
            .hspace5
            .col-1of1
                .color-swatch(style='background-color:#E4E4E4;border-top:1px solid #CDCDCD;border-bottom:1px solid #CDCDCD;')
                    | Background&colon; &num;E4E4E4
                    br
                    | Border&colon; &num;CDCDCD
        .hspace40
        .col-1of1
            h4.head20.lite.caps Wells
            .hspace5
            .col-4of12
                .color-swatch(style='background-color: #E4E4E4;')
                    | &num;E4E4E4
                    br
                    span.center.head10 Default
            .col-4of12
                .color-swatch(style='background-color: #C4C4C4;')
                    | &num;C4C4C4
                    br
                    span.center.head10 Darker
            .col-4of12
                .color-swatch(style='background-color: #A4A4A4;')
                    | &num;A4A4A4
                    br
                    span.center.head10 Darkest
        .hspace40
        .col-1of1
            h4.head20.lite.caps Callouts
            .hspace5
            .col-4of12
                .color-swatch(style='background-color: #E4E4E4;')
                    | &num;E4E4E4
                    br
                    span.center.head10 Quote
            .col-4of12
                .color-swatch(style='background-color: #F9F9F9;')
                    | &num;F9F9F9
                    br
                    span.center.head10 Citation
            .col-4of12
                .color-swatch(style='background-color: #D8ECFD;')
                    | &num;D8ECFD
                    br
                    span.center.head10 Highlight

