.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
#products.hspace60
.content
    .container.clearfix
        .col-1of1
            h3.head28 Product Color Stories
            p.text16
                | Below is a dizzying array of exciting colors based on the cloud product categories&period;
        .hspace50
        // ORANGES
        .col-1of2.clearfix
            h4.lite.caps
                span.head20 Orange
                span.head14   &lpar;Compute&rpar;
            .hspace10
            .col-12of12
                .color-swatch.white(style='background-color: #D76E00;')
                    | &num;D76E00
                    br
                    | Root Color
            .hspace10
            .col-3of12
                h6.head12.lite.caps.center Brighter
            .col-3of12
                h6.head12.lite.caps.center Lighter
            .col-3of12
                h6.head12.lite.caps.center Deeper
            .col-3of12.last
                h6.head12.lite.caps.center Darker
            .col-3of12
                .color-swatch.white(style='background-color: #E17800;') &num;E17800
            .col-3of12
                .color-swatch.white(style='background-color: #DC7B1A;') &num;DC7B1A
            .col-3of12
                .color-swatch.white(style='background-color: #CE6400;') &num;CE6400
            .col-3of12.last
                .color-swatch.white(style='background-color: #C26100;') &num;C26100
            .col-3of12
                .color-swatch.white(style='background-color: #EB8200;') &num;EB8200
            .col-3of12
                .color-swatch.white(style='background-color: #DF8B31;') &num;DF8B31
            .col-3of12
                .color-swatch.white(style='background-color: #C35A00;') &num;C35A00
            .col-3of12.last
                .color-swatch.white(style='background-color: #AC5800;') &num;AC5800
            .col-3of12
                .color-swatch.white(style='background-color: #F58C00;') &num;F58C00
            .col-3of12
                .color-swatch.white(style='background-color: #E3994E;') &num;E3994E
            .col-3of12
                .color-swatch.white(style='background-color: #B95000;') &num;B95000
            .col-3of12.last
                .color-swatch.white(style='background-color: #964C01;') &num;964C01
            .col-3of12
                .color-swatch(style='background-color: #FF9600;') &num;FF9600
            .col-3of12
                .color-swatch(style='background-color: #E7A865;') &num;E7A865
            .col-3of12
                .color-swatch.white(style='background-color: #AF4600;') &num;AF4600
            .col-3of12.last
                .color-swatch.white(style='background-color: #814200;') &num;814200
            .col-3of12
                .color-swatch(style='background-color: #FF9F00;') &num;FF9F00
            .col-3of12
                .color-swatch(style='background-color: #EBB680;') &num;EBB680
            .col-3of12
                .color-swatch.white(style='background-color: #A53C00;') &num;A53C00
            .col-3of12.last
                .color-swatch.white(style='background-color: #6A3501;') &num;6A3501
            .col-3of12
                .color-swatch(style='background-color: #FFAA00;') &num;FFAA00
            .col-3of12
                .color-swatch(style='background-color: #F0C59A;') &num;F0C59A
            .col-3of12
                .color-swatch.white(style='background-color: #963200;') &num;963200
            .col-3of12.last
                .color-swatch.white(style='background-color: #562B00;') &num;562B00
            .col-3of12
                .color-swatch(style='background-color: #FFB400;') &num;FFB400
            .col-3of12
                .color-swatch(style='background-color: #F2D4B2;') &num;F2D4B2
            .col-3of12
                .color-swatch.white(style='background-color: #912800;') &num;912800
            .col-3of12.last
                .color-swatch.white(style='background-color: #412001;') &num;412001
            .col-3of12
                .color-swatch(style='background-color: #FFBE00;') &num;FFBE00
            .col-3of12
                .color-swatch(style='background-color: #F7E2CD;') &num;F7E2CD
            .col-3of12
                .color-swatch.white(style='background-color: #871E00;') &num;871E00
            .col-3of12.last
                .color-swatch.white(style='background-color: #2A1500;') &num;2A1500
            .col-3of12
                .color-swatch(style='background-color: #FFC801;') &num;FFC801
            .col-3of12
                .color-swatch(style='background-color: #FAF0E6;') &num;FAF0E6
            .col-3of12
                .color-swatch.white(style='background-color: #7D1400;') &num;7D1400
            .col-3of12.last
                .color-swatch.white(style='background-color: #130900;') &num;130900
        // BLUES
        .col-1of2.clearfix.last
            h4.lite.caps
                span.head20 Blue
                span.head14   &lpar;Cloud&rpar;
            .hspace10
            .col-12of12
                .color-swatch.white(style='background-color: #0064B9;')
                    | &num;0064B9
                    br
                    | Root Color
            .hspace10
            .col-3of12
                h6.head12.lite.caps.center Brighter
            .col-3of12
                h6.head12.lite.caps.center Lighter
            .col-3of12
                h6.head12.lite.caps.center Deeper
            .col-3of12.last
                h6.head12.lite.caps.center Darker
            .col-3of12
                .color-swatch.white(style='background-color: #0A6EC3;') &num;0A6EC3
            .col-3of12
                .color-swatch.white(style='background-color: #1973C1;') &num;1973C1
            .col-3of12
                .color-swatch.white(style='background-color: #005AAF;') &num;005AAF
            .col-3of12.last
                .color-swatch.white(style='background-color: #0059A7;') &num;0059A7
            .col-3of12
                .color-swatch.white(style='background-color: #1478CD;') &num;1478CD
            .col-3of12
                .color-swatch.white(style='background-color: #3383C8;') &num;3383C8
            .col-3of12
                .color-swatch.white(style='background-color: #0050A5;') &num;0050A5
            .col-3of12.last
                .color-swatch.white(style='background-color: #015095;') &num;015095
            .col-3of12
                .color-swatch.white(style='background-color: #1E82D7;') &num;1E82D7
            .col-3of12
                .color-swatch.white(style='background-color: #4D91CE;') &num;4D91CE
            .col-3of12
                .color-swatch.white(style='background-color: #00469B;') &num;00469B
            .col-3of12.last
                .color-swatch.white(style='background-color: #004481;') &num;004481
            .col-3of12
                .color-swatch(style='background-color: #288CE1;') &num;288CE1
            .col-3of12
                .color-swatch(style='background-color: #66A2D6;') &num;66A2D6
            .col-3of12
                .color-swatch.white(style='background-color: #003C91;') &num;003C91
            .col-3of12.last
                .color-swatch.white(style='background-color: #003C70;') &num;003C70
            .col-3of12
                .color-swatch(style='background-color: #3296EB;') &num;3296EB
            .col-3of12
                .color-swatch(style='background-color: #80B1DC;') &num;80B1DC
            .col-3of12
                .color-swatch.white(style='background-color: #003287;') &num;003287
            .col-3of12.last
                .color-swatch.white(style='background-color: #00315C;') &num;00315C
            .col-3of12
                .color-swatch(style='background-color: #3CA0F5;') &num;3CA0F5
            .col-3of12
                .color-swatch(style='background-color: #99C1E4;') &num;99C1E4
            .col-3of12
                .color-swatch.white(style='background-color: #00287D;') &num;00287D
            .col-3of12.last
                .color-swatch.white(style='background-color: #00264A;') &num;00264A
            .col-3of12
                .color-swatch(style='background-color: #46AAFF;') &num;46AAFF
            .col-3of12
                .color-swatch(style='background-color: #B2D0EA;') &num;B2D0EA
            .col-3of12
                .color-swatch.white(style='background-color: #001E73;') &num;001E73
            .col-3of12.last
                .color-swatch.white(style='background-color: #011D35;') &num;011D35
            .col-3of12
                .color-swatch(style='background-color: #50B4FF;') &num;50B4FF
            .col-3of12
                .color-swatch(style='background-color: #CDE0F1;') &num;CDE0F1
            .col-3of12
                .color-swatch.white(style='background-color: #001469;') &num;001469
            .col-3of12.last
                .color-swatch.white(style='background-color: #001324;') &num;001324
            .col-3of12
                .color-swatch(style='background-color: #5ABEFF;') &num;5ABEFF
            .col-3of12
                .color-swatch(style='background-color: #E5EFF8;') &num;E5EFF8
            .col-3of12
                .color-swatch.white(style='background-color: #000A5F;') &num;000A5F
            .col-3of12.last
                .color-swatch.white(style='background-color: #000912;') &num;000912
.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
.hspace60
.content
    .container.clearfix
        // GREENS
        .col-1of2.clearfix
            h4.lite.caps
                span.head20 Green
                span.head14   &lpar;Data &amp; Storage&rpar;
            .hspace10
            .col-12of12
                .color-swatch.white(style='background-color: #469614;')
                    | &num;469614
                    br
                    | Root Color
            .hspace10
            .col-3of12
                h6.head12.lite.caps.center Brighter
            .col-3of12
                h6.head12.lite.caps.center Lighter
            .col-3of12
                h6.head12.lite.caps.center Deeper
            .col-3of12.last
                h6.head12.lite.caps.center Darker
            .col-3of12
                .color-swatch.white(style='background-color: #50A01E;') &num;50A01E
            .col-3of12
                .color-swatch.white(style='background-color: #59A02A;') &num;59A02A
            .col-3of12
                .color-swatch.white(style='background-color: #3C8C0A;') &num;3C8C0A
            .col-3of12.last
                .color-swatch.white(style='background-color: #3F8610;') &num;3F8610
            .col-3of12
                .color-swatch.white(style='background-color: #5AAA28;') &num;5AAA28
            .col-3of12
                .color-swatch.white(style='background-color: #6CAB43;') &num;6CAB43
            .col-3of12
                .color-swatch.white(style='background-color: #328200;') &num;328200
            .col-3of12.last
                .color-swatch.white(style='background-color: #37790F;') &num;37790F
            .col-3of12
                .color-swatch.white(style='background-color: #64B432;') &num;64B432
            .col-3of12
                .color-swatch.white(style='background-color: #7DB55A;') &num;7DB55A
            .col-3of12
                .color-swatch.white(style='background-color: #287800;') &num;287800
            .col-3of12.last
                .color-swatch.white(style='background-color: #2F680A;') &num;2F680A
            .col-3of12
                .color-swatch(style='background-color: #6EBE3C;') &num;6EBE3C
            .col-3of12
                .color-swatch(style='background-color: #90C172;') &num;90C172
            .col-3of12
                .color-swatch.white(style='background-color: #1E6E00;') &num;1E6E00
            .col-3of12.last
                .color-swatch.white(style='background-color: #295A09;') &num;295A09
            .col-3of12
                .color-swatch(style='background-color: #78C846;') &num;78C846
            .col-3of12
                .color-swatch(style='background-color: #A2CB89;') &num;A2CB89
            .col-3of12
                .color-swatch.white(style='background-color: #146400;') &num;146400
            .col-3of12.last
                .color-swatch.white(style='background-color: #214A06;') &num;214A06
            .col-3of12
                .color-swatch(style='background-color: #82D250;') &num;82D250
            .col-3of12
                .color-swatch(style='background-color: #B5D6A1;') &num;B5D6A1
            .col-3of12
                .color-swatch.white(style='background-color: #0A5A00;') &num;0A5A00
            .col-3of12.last
                .color-swatch.white(style='background-color: #1B3C07;') &num;1B3C07
            .col-3of12
                .color-swatch(style='background-color: #8CDC5A;') &num;8CDC5A
            .col-3of12
                .color-swatch(style='background-color: #C6DFB8;') &num;C6DFB8
            .col-3of12
                .color-swatch.white(style='background-color: #005000;') &num;005000
            .col-3of12.last
                .color-swatch.white(style='background-color: #132C04;') &num;132C04
            .col-3of12
                .color-swatch(style='background-color: #96E664;') &num;96E664
            .col-3of12
                .color-swatch(style='background-color: #DAEAD0;') &num;DAEAD0
            .col-3of12
                .color-swatch.white(style='background-color: #004600;') &num;004600
            .col-3of12.last
                .color-swatch.white(style='background-color: #0D1D02;') &num;0D1D02
            .col-3of12
                .color-swatch(style='background-color: #A0F06E;') &num;A0F06E
            .col-3of12
                .color-swatch(style='background-color: #ECF4E7;') &num;ECF4E7
            .col-3of12
                .color-swatch.white(style='background-color: #003C00;') &num;003C00
            .col-3of12.last
                .color-swatch.white(style='background-color: #050D00;') &num;050D00
        // PURPLES
        .col-1of2.clearfix.last
            h4.lite.caps
                span.head20 Purple
                span.head14   &lpar;Services&rpar;
            .hspace10
            .col-12of12
                .color-swatch.white(style='background-color: #7D46AB;')
                    | &num;7D46AB
                    br
                    | Root Color
            .hspace10
            .col-3of12
                h6.head12.lite.caps.center Brighter
            .col-3of12
                h6.head12.lite.caps.center Lighter
            .col-3of12
                h6.head12.lite.caps.center Deeper
            .col-3of12.last
                h6.head12.lite.caps.center Darker
            .col-3of12
                .color-swatch.white(style='background-color: #8850B5;') &num;8850B5
            .col-3of12
                .color-swatch.white(style='background-color: #8A57B3;') &num;8A57B3
            .col-3of12
                .color-swatch.white(style='background-color: #733CA0;') &num;733CA0
            .col-3of12.last
                .color-swatch.white(style='background-color: #703D9A;') &num;703D9A
            .col-3of12
                .color-swatch.white(style='background-color: #925ABF;') &num;925ABF
            .col-3of12
                .color-swatch.white(style='background-color: #976ABB;') &num;976ABB
            .col-3of12
                .color-swatch.white(style='background-color: #693297;') &num;693297
            .col-3of12.last
                .color-swatch.white(style='background-color: #643788;') &num;643788
            .col-3of12
                .color-swatch.white(style='background-color: #9C64C9;') &num;9C64C9
            .col-3of12
                .color-swatch.white(style='background-color: #A67CC4;') &num;A67CC4
            .col-3of12
                .color-swatch.white(style='background-color: #5F288D;') &num;5F288D
            .col-3of12.last
                .color-swatch.white(style='background-color: #583076;') &num;583076
            .col-3of12
                .color-swatch(style='background-color: #A66ED3;') &num;A66ED3
            .col-3of12
                .color-swatch(style='background-color: #B391CD;') &num;B391CD
            .col-3of12
                .color-swatch.white(style='background-color: #551E83;') &num;551E83
            .col-3of12.last
                .color-swatch.white(style='background-color: #4C2A66;') &num;4C2A66
            .col-3of12
                .color-swatch(style='background-color: #B078DD;') &num;B078DD
            .col-3of12
                .color-swatch(style='background-color: #BFA3D4;') &num;BFA3D4
            .col-3of12
                .color-swatch.white(style='background-color: #4B1479;') &num;4B1479
            .col-3of12.last
                .color-swatch.white(style='background-color: #3E2253;') &num;3E2253
            .col-3of12
                .color-swatch(style='background-color: #BA83E8;') &num;BA83E8
            .col-3of12
                .color-swatch(style='background-color: #CCB6DD;') &num;CCB6DD
            .col-3of12
                .color-swatch.white(style='background-color: #410A6F;') &num;410A6F
            .col-3of12.last
                .color-swatch.white(style='background-color: #321C43;') &num;321C43
            .col-3of12
                .color-swatch(style='background-color: #C48DF2;') &num;C48DF2
            .col-3of12
                .color-swatch(style='background-color: #D8C8E5;') &num;D8C8E5
            .col-3of12
                .color-swatch.white(style='background-color: #370065;') &num;370065
            .col-3of12.last
                .color-swatch.white(style='background-color: #251532;') &num;251532
            .col-3of12
                .color-swatch(style='background-color: #CE97FC;') &num;CE97FC
            .col-3of12
                .color-swatch(style='background-color: #E7DBEF;') &num;E7DBEF
            .col-3of12
                .color-swatch.white(style='background-color: #2D015A;') &num;2D015A
            .col-3of12.last
                .color-swatch.white(style='background-color: #1A0E22;') &num;1A0E22
            .col-3of12
                .color-swatch(style='background-color: #D8A1FF;') &num;D8A1FF
            .col-3of12
                .color-swatch(style='background-color: #F3EDF7;') &num;F3EDF7
            .col-3of12
                .color-swatch.white(style='background-color: #230050;') &num;230050
            .col-3of12.last
                .color-swatch.white(style='background-color: #0D0711;') &num;0D0711
.hspace80
hr
.container.clearfix
    != partial("../_shared/back-to-top")
.hspace60
.content
    .container.clearfix
        // TEALS
        .col-1of2.clearfix
            h4.lite.caps
                span.head20 Teal
                span.head14   &lpar;Original Mosso&rpar;
            .hspace10
            .col-12of12
                .color-swatch.white(style='background-color: #0096A5;')
                    | &num;0096A5
                    br
                    | Root Color
            .hspace10
            .col-3of12
                h6.head12.lite.caps.center Brighter
            .col-3of12
                h6.head12.lite.caps.center Lighter
            .col-3of12
                h6.head12.lite.caps.center Deeper
            .col-3of12.last
                h6.head12.lite.caps.center Darker
            .col-3of12
                .color-swatch.white(style='background-color: #00A0B0;') &num;00A0B0
            .col-3of12
                .color-swatch.white(style='background-color: #18A0AE;') &num;18A0AE
            .col-3of12
                .color-swatch.white(style='background-color: #008C9B;') &num;008C9B
            .col-3of12.last
                .color-swatch.white(style='background-color: #018695;') &num;018695
            .col-3of12
                .color-swatch.white(style='background-color: #00AAB9;') &num;00AAB9
            .col-3of12
                .color-swatch.white(style='background-color: #32ABB6;') &num;32ABB6
            .col-3of12
                .color-swatch.white(style='background-color: #008292;') &num;008292
            .col-3of12.last
                .color-swatch.white(style='background-color: #007984;') &num;007984
            .col-3of12
                .color-swatch.white(style='background-color: #00B4C3;') &num;00B4C3
            .col-3of12
                .color-swatch.white(style='background-color: #4DB5C0;') &num;4DB5C0
            .col-3of12
                .color-swatch.white(style='background-color: #007888;') &num;007888
            .col-3of12.last
                .color-swatch.white(style='background-color: #006873;') &num;006873
            .col-3of12
                .color-swatch(style='background-color: #00BECE;') &num;00BECE
            .col-3of12
                .color-swatch(style='background-color: #65BFC8;') &num;65BFC8
            .col-3of12
                .color-swatch.white(style='background-color: #006E7D;') &num;006E7D
            .col-3of12.last
                .color-swatch.white(style='background-color: #005A63;') &num;005A63
            .col-3of12
                .color-swatch(style='background-color: #00C8D7;') &num;00C8D7
            .col-3of12
                .color-swatch(style='background-color: #80CAD3;') &num;80CAD3
            .col-3of12
                .color-swatch.white(style='background-color: #006473;') &num;006473
            .col-3of12.last
                .color-swatch.white(style='background-color: #004A53;') &num;004A53
            .col-3of12
                .color-swatch(style='background-color: #00D2E1;') &num;00D2E1
            .col-3of12
                .color-swatch(style='background-color: #9AD5DB;') &num;9AD5DB
            .col-3of12
                .color-swatch.white(style='background-color: #015A6A;') &num;015A6A
            .col-3of12.last
                .color-swatch.white(style='background-color: #013C42;') &num;013C42
            .col-3of12
                .color-swatch(style='background-color: #00DCEC;') &num;00DCEC
            .col-3of12
                .color-swatch(style='background-color: #B2DFE4;') &num;B2DFE4
            .col-3of12
                .color-swatch.white(style='background-color: #01505F;') &num;01505F
            .col-3of12.last
                .color-swatch.white(style='background-color: #002C2F;') &num;002C2F
            .col-3of12
                .color-swatch(style='background-color: #00E6F5;') &num;00E6F5
            .col-3of12
                .color-swatch(style='background-color: #CCE9ED;') &num;CCE9ED
            .col-3of12
                .color-swatch.white(style='background-color: #014655;') &num;014655
            .col-3of12.last
                .color-swatch.white(style='background-color: #001E20;') &num;001E20
            .col-3of12
                .color-swatch(style='background-color: #00F0FF;') &num;00F0FF
            .col-3of12
                .color-swatch(style='background-color: #E5F5F5;') &num;E5F5F5
            .col-3of12
                .color-swatch.white(style='background-color: #013C4C;') &num;013C4C
            .col-3of12.last
                .color-swatch.white(style='background-color: #000D0E;') &num;000D0E
        // MAROONS
        .col-1of2.clearfix.last
            h4.lite.caps
                span.head20 Maroon
                span.head14   &lpar;E&amp;A for a short time&rpar;
            .hspace10
            .col-12of12
                .color-swatch.white(style='background-color: #922441;')
                    | &num;922441
                    br
                    | Root Color
            .hspace10
            .col-3of12
                h6.head12.lite.caps.center Brighter
            .col-3of12
                h6.head12.lite.caps.center Lighter
            .col-3of12
                h6.head12.lite.caps.center Deeper
            .col-3of12.last
                h6.head12.lite.caps.center Darker
            .col-3of12
                .color-swatch.white(style='background-color: #9C2E4B;') &num;9C2E4B
            .col-3of12
                .color-swatch.white(style='background-color: #9D3955;') &num;9D3955
            .col-3of12
                .color-swatch.white(style='background-color: #881A37;') &num;881A37
            .col-3of12.last
                .color-swatch.white(style='background-color: #831F3B;') &num;831F3B
            .col-3of12
                .color-swatch.white(style='background-color: #A63855;') &num;A63855
            .col-3of12
                .color-swatch.white(style='background-color: #A84E67;') &num;A84E67
            .col-3of12
                .color-swatch.white(style='background-color: #7D0F2C;') &num;7D0F2C
            .col-3of12.last
                .color-swatch.white(style='background-color: #741C34;') &num;741C34
            .col-3of12
                .color-swatch.white(style='background-color: #B0425F;') &num;B0425F
            .col-3of12
                .color-swatch.white(style='background-color: #B3647A;') &num;B3647A
            .col-3of12
                .color-swatch.white(style='background-color: #730522;') &num;730522
            .col-3of12.last
                .color-swatch.white(style='background-color: #65172D;') &num;65172D
            .col-3of12
                .color-swatch(style='background-color: #BA4C69;') &num;BA4C69
            .col-3of12
                .color-swatch(style='background-color: #C07B8E;') &num;C07B8E
            .col-3of12
                .color-swatch.white(style='background-color: #6A0019;') &num;6A0019
            .col-3of12.last
                .color-swatch.white(style='background-color: #581527;') &num;581527
            .col-3of12
                .color-swatch(style='background-color: #C45673;') &num;C45673
            .col-3of12
                .color-swatch(style='background-color: #C892A0;') &num;C892A0
            .col-3of12
                .color-swatch.white(style='background-color: #5E0010;') &num;5E0010
            .col-3of12.last
                .color-swatch.white(style='background-color: #47111F;') &num;47111F
            .col-3of12
                .color-swatch(style='background-color: #CE607D;') &num;CE607D
            .col-3of12
                .color-swatch(style='background-color: #D4A8B5;') &num;D4A8B5
            .col-3of12
                .color-swatch.white(style='background-color: #550005;') &num;550005
            .col-3of12.last
                .color-swatch.white(style='background-color: #3A0E1B;') &num;3A0E1B
            .col-3of12
                .color-swatch(style='background-color: #D86989;') &num;D86989
            .col-3of12
                .color-swatch(style='background-color: #DEBDC6;') &num;DEBDC6
            .col-3of12
                .color-swatch.white(style='background-color: #4B0000;') &num;4B0000
            .col-3of12.last
                .color-swatch.white(style='background-color: #2B0A13;') &num;2B0A13
            .col-3of12
                .color-swatch(style='background-color: #E27393;') &num;E27393
            .col-3of12
                .color-swatch(style='background-color: #EAD3D9;') &num;EAD3D9
            .col-3of12
                .color-swatch.white(style='background-color: #410000;') &num;410000
            .col-3of12.last
                .color-swatch.white(style='background-color: #1C070C;') &num;1C070C
            .col-3of12
                .color-swatch(style='background-color: #EC7D9D;') &num;EC7D9D
            .col-3of12
                .color-swatch(style='background-color: #F4E9ED;') &num;F4E9ED
            .col-3of12
                .color-swatch.white(style='background-color: #380001;') &num;380001
            .col-3of12.last
                .color-swatch.white(style='background-color: #0E0307;') &num;0E0307
.hspace100