div#top.eyebrow.drop-shadow
    div.container.clearfix
        div.eyebrow-nav
            div.logo
                div.cornerstone-icon.inline-block
            ul
                li.current
                    a(href="./typography.html") Type
                li
                    a(href="./grid.html") Grid
                li
                    a(href="./colors.html") Colors
                li
                    a(href="./components.html") Components